.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;

  .auth-logo {
    transform: scale(1.4);
  }

  .auth-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
  }

  .auth-tips {
    margin: 2vh 0;
    font-size: 18px;
    font-weight: bold;
  }


  .auth-input {
    margin: 0 0;
    max-width: 300px; // 设置最大宽度
    width: 100%; // 确保图片在较小屏幕上也能响应式缩放
  }

  .auth-actions {
    display: flex;
    justify-content: center;
    flex-direction: column;

    button:not(:last-child) {
      margin: 2vh 0;
      //margin-bottom: 10px;
    }
  }
  .auth-image {
    display: block;
    margin: 0 auto;
    max-width: 180px; // 设置最大宽度
    width: 100%; // 确保图片在较小屏幕上也能响应式缩放
    height: auto; // 等比例缩放高度
  }
}
